@charset "ISO-8859-1";

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
}

.contenedor {
	max-width: 600px;
	margin: 50px auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contenedor h1 {
	text-align: center;
}

.form-group {
	margin-bottom: 20px;
}

.contenedor label {
	display: block;
	margin-bottom: 5px;
}

.contenedor input[type="text"], input[type="email"], input[type="password"]
	{
	width: calc(100% - 10px); /* Resta el padding del ancho total */
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.contenedor button[type="submit"], button[type="button"] {
	padding: 10px 20px;
	background-color: #000; /* Negro */
	color: #fff; /* Blanco */
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s, color 0.3s, border-color 0.3s;
	/* Agregamos la transición para el color del borde */
	border: 2px solid #fff; /* Definimos un borde blanco */
	width: 100%;
}

.contenedor button[type="submit"]:hover {
	background-color: transparent;
	/* Fondo transparente al pasar el ratón */
	color: #000; /* Texto negro al pasar el ratón */
	border-color: #000; /* Borde negro al pasar el ratón */
}