<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProyectoAgus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ProyectoAgus.Properties.Settings.TransGlobalConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\TransGlobal.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ProyectoAgus.Properties.Settings>
            <setting name="numVenta" serializeAs="String">
                <value />
            </setting>
            <setting name="rolEmpleado" serializeAs="String">
                <value />
            </setting>
            <setting name="idCamion" serializeAs="String">
                <value />
            </setting>
            <setting name="matricula" serializeAs="String">
                <value />
            </setting>
            <setting name="tipocamion" serializeAs="String">
                <value />
            </setting>
            <setting name="marca" serializeAs="String">
                <value />
            </setting>
            <setting name="modelo" serializeAs="String">
                <value />
            </setting>
            <setting name="fechafabricacion" serializeAs="String">
                <value />
            </setting>
            <setting name="carga" serializeAs="String">
                <value />
            </setting>
            <setting name="combustible" serializeAs="String">
                <value />
            </setting>
            <setting name="idProducto" serializeAs="String">
                <value />
            </setting>
            <setting name="nombreProducto" serializeAs="String">
                <value />
            </setting>
            <setting name="precioProducto" serializeAs="String">
                <value />
            </setting>
            <setting name="pesoProducto" serializeAs="String">
                <value />
            </setting>
            <setting name="stockProducto" serializeAs="String">
                <value />
            </setting>
            <setting name="isbnProducto" serializeAs="String">
                <value />
            </setting>
            <setting name="idCliente" serializeAs="String">
                <value />
            </setting>
            <setting name="nombreCliente" serializeAs="String">
                <value />
            </setting>
            <setting name="tipoCliente" serializeAs="String">
                <value />
            </setting>
            <setting name="dniCliente" serializeAs="String">
                <value />
            </setting>
            <setting name="telefonoCliente" serializeAs="String">
                <value />
            </setting>
            <setting name="emailCliente" serializeAs="String">
                <value />
            </setting>
            <setting name="provinciaCliente" serializeAs="String">
                <value />
            </setting>
            <setting name="localidadCliente" serializeAs="String">
                <value />
            </setting>
            <setting name="codigoPostalCliente" serializeAs="String">
                <value />
            </setting>
            <setting name="direcciónCliente" serializeAs="String">
                <value />
            </setting>
            <setting name="idEmpleado" serializeAs="String">
                <value />
            </setting>
            <setting name="nombreEmpleado" serializeAs="String">
                <value />
            </setting>
            <setting name="dniEmpleado" serializeAs="String">
                <value />
            </setting>
            <setting name="telefonoEmpleado" serializeAs="String">
                <value />
            </setting>
            <setting name="direccionEmpleado" serializeAs="String">
                <value />
            </setting>
            <setting name="correoEmpleado" serializeAs="String">
                <value />
            </setting>
            <setting name="fechaContratacion" serializeAs="String">
                <value />
            </setting>
            <setting name="fechaNacimiento" serializeAs="String">
                <value />
            </setting>
            <setting name="salarioEmpleado" serializeAs="String">
                <value />
            </setting>
            <setting name="cargoEmpleado" serializeAs="String">
                <value />
            </setting>
        </ProyectoAgus.Properties.Settings>
    </userSettings>
</configuration>