<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>QuitarCantidadServlet1</servlet-name>
  	<display-name>QuitarCantidadServlet1</display-name>
  	<description></description>
  	<servlet-class>control.carrito.QuitarCantidadServlet1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PrecioProductosASCServlet</servlet-name>
  	<display-name>PrecioProductosASCServlet</display-name>
  	<description></description>
  	<servlet-class>control.producto.PrecioProductosASCServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductosCategoriaServlet</servlet-name>
  	<display-name>ProductosCategoriaServlet</display-name>
  	<description></description>
  	<servlet-class>control.producto.ProductosCategoriaServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PeticionCancelacionPedidoServlet</servlet-name>
  	<display-name>PeticionCancelacionPedidoServlet</display-name>
  	<description></description>
  	<servlet-class>control.usuario.PeticionCancelacionPedidoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MostrarProductosEmpleadoServlet</servlet-name>
  	<display-name>MostrarProductosEmpleadoServlet</display-name>
  	<description></description>
  	<servlet-class>control.producto.MostrarProductosEmpleadoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditarProductoServlet</servlet-name>
  	<display-name>EditarProductoServlet</display-name>
  	<description></description>
  	<servlet-class>control.producto.EditarProductoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateProductoServlet</servlet-name>
  	<display-name>UpdateProductoServlet</display-name>
  	<description></description>
  	<servlet-class>control.producto.UpdateProductoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MostrarUsuariosEmpleadoServlet</servlet-name>
  	<display-name>MostrarUsuariosEmpleadoServlet</display-name>
  	<description></description>
  	<servlet-class>control.usuario.MostrarUsuariosEmpleadoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IrEditarUsuarioServlet</servlet-name>
  	<display-name>IrEditarUsuarioServlet</display-name>
  	<description></description>
  	<servlet-class>control.usuario.IrEditarUsuarioServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ObtenerCategoriasServlet</servlet-name>
  	<display-name>ObtenerCategoriasServlet</display-name>
  	<description></description>
  	<servlet-class>control.categoria.ObtenerCategoriasServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MostrarPedidosServlet</servlet-name>
  	<display-name>MostrarPedidosServlet</display-name>
  	<description></description>
  	<servlet-class>control.pedido.MostrarPedidosServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BajaUsuarioServlet</servlet-name>
  	<display-name>BajaUsuarioServlet</display-name>
  	<description></description>
  	<servlet-class>control.usuario.BajaUsuarioServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BajaProductoServlet</servlet-name>
  	<display-name>BajaProductoServlet</display-name>
  	<description></description>
  	<servlet-class>control.producto.BajaProductoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EliminarCategoriaServlet</servlet-name>
  	<display-name>EliminarCategoriaServlet</display-name>
  	<description></description>
  	<servlet-class>control.categoria.EliminarCategoriaServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EnviarCorreoServlet</servlet-name>
  	<display-name>EnviarCorreoServlet</display-name>
  	<description></description>
  	<servlet-class>control.usuario.EnviarCorreoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VerFacturaServlet</servlet-name>
  	<display-name>VerFacturaServlet</display-name>
  	<description></description>
  	<servlet-class>control.pedido.VerFacturaServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InicioAdminServlet</servlet-name>
  	<display-name>InicioAdminServlet</display-name>
  	<description></description>
  	<servlet-class>control.pedido.InicioAdminServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CambiarClaveSuperAdminServlet</servlet-name>
  	<display-name>CambiarClaveSuperAdminServlet</display-name>
  	<description></description>
  	<servlet-class>control.usuario.CambiarClaveSuperAdminServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditarConfiguracionServlet</servlet-name>
  	<display-name>EditarConfiguracionServlet</display-name>
  	<description></description>
  	<servlet-class>control.configuracion.EditarConfiguracionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CrearExcelServlet</servlet-name>
  	<display-name>CrearExcelServlet</display-name>
  	<description></description>
  	<servlet-class>control.producto.CrearExcelServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ImportarExcelServlet</servlet-name>
  	<display-name>ImportarExcelServlet</display-name>
  	<description></description>
  	<servlet-class>control.producto.ImportarExcelServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EliminarDetallePedidoServlet</servlet-name>
  	<display-name>EliminarDetallePedidoServlet</display-name>
  	<description></description>
  	<servlet-class>control.pedido.EliminarDetallePedidoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InsertarValoracionServlet</servlet-name>
  	<display-name>InsertarValoracionServlet</display-name>
  	<description></description>
  	<servlet-class>control.valoracion.InsertarValoracionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>as</servlet-name>
  	<display-name>as</display-name>
  	<description></description>
  	<servlet-class>control.usuario.as</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QuitarCantidadServlet1</servlet-name>
  	<url-pattern>/QuitarCantidadServlet1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PrecioProductosASCServlet</servlet-name>
  	<url-pattern>/PrecioProductosASCServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductosCategoriaServlet</servlet-name>
  	<url-pattern>/ProductosCategoriaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PeticionCancelacionPedidoServlet</servlet-name>
  	<url-pattern>/PeticionCancelacionPedidoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MostrarProductosEmpleadoServlet</servlet-name>
  	<url-pattern>/MostrarProductosEmpleadoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditarProductoServlet</servlet-name>
  	<url-pattern>/EditarProductoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateProductoServlet</servlet-name>
  	<url-pattern>/UpdateProductoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MostrarUsuariosEmpleadoServlet</servlet-name>
  	<url-pattern>/MostrarUsuariosEmpleadoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IrEditarUsuarioServlet</servlet-name>
  	<url-pattern>/IrEditarUsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ObtenerCategoriasServlet</servlet-name>
  	<url-pattern>/ObtenerCategoriasServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MostrarPedidosServlet</servlet-name>
  	<url-pattern>/MostrarPedidosServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BajaUsuarioServlet</servlet-name>
  	<url-pattern>/BajaUsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BajaProductoServlet</servlet-name>
  	<url-pattern>/BajaProductoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EliminarCategoriaServlet</servlet-name>
  	<url-pattern>/EliminarCategoriaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EnviarCorreoServlet</servlet-name>
  	<url-pattern>/EnviarCorreoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VerFacturaServlet</servlet-name>
  	<url-pattern>/VerFacturaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InicioAdminServlet</servlet-name>
  	<url-pattern>/InicioAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CambiarClaveSuperAdminServlet</servlet-name>
  	<url-pattern>/CambiarClaveSuperAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditarConfiguracionServlet</servlet-name>
  	<url-pattern>/EditarConfiguracionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CrearExcelServlet</servlet-name>
  	<url-pattern>/CrearExcelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ImportarExcelServlet</servlet-name>
  	<url-pattern>/ImportarExcelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EliminarDetallePedidoServlet</servlet-name>
  	<url-pattern>/EliminarDetallePedidoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InsertarValoracionServlet</servlet-name>
  	<url-pattern>/InsertarValoracionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>as</servlet-name>
  	<url-pattern>/as</url-pattern>
  </servlet-mapping>
</web-app>
